<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark box-shadow">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <strong>IDES</strong>
    </a>

    <a routerLink="/produtos" routerLinkActive="active">produtos</a>
    <a routerLink="/novoProduto" routerLinkActive="active">novo Produto</a>
    <a routerLink="/dominga" routerLinkActive="active">Domingas</a>
  </div>
</nav>
<br>
<div class="container">
<router-outlet></router-outlet>


</div>

