<div class="container">
  <form #produtoForm="ngForm" (ngSubmit)="addProduto()">
    <div class="row form-group">
        <label for="cat" class="col-sm-2 col-form-label"> Categoria</label>
      <div class="col-sm-10">
      <select id="cat" class="form-control"  (ngModelChange)="getUltimoProduto(cat.value)" #cat [(ngModel)]="produto.categoria" name="categoria">
        <option  *ngFor="let cat of categoria" [value]="cat.id"> {{cat.descricao}}</option>

      </select>
      </div>
    </div>

    <div class="row form-group">
        <label for="numero" class="col-sm-2 col-form-label"> Numero</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="numero"  [(ngModel)]="produto.id" name="id">
      </div>
    </div>


    <div class="row form-group">
        <label for="desc" class="col-sm-2 col-form-label"> Descrição</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="desc"  [(ngModel)]="produto.descricao" name="descricao">
      </div>
    </div>


    <div class="row form-group">
        <label for="qtd" class="col-sm-2 col-form-label "> Quabtidade</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="qtd"  [(ngModel)]="produto.qtd" name="qtd">
      </div>
    </div>
<br>
    <button type="submit" class="btn btn-primary btn-lg float-lg-right">Submit</button>
  </form>
</div>
