<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="id">ID</label>
      <input type="text" readonly class="form-control" id="id" placeholder="Nome"  formControlName="idIrmaos" >
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" placeholder="Nome" required formControlName="nome">
    </div>
  </div>
  <div class="form-row">
  <div class="form-group  col-md-9">
    <label for="inputAddress">Morada</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Morada"required formControlName="rua" >

  </div>
    <div class="form-group  col-md-3">
      <label for="nPorta">nº da Porta</label>
      <input type="text" class="form-control" id="nPorta" placeholder="nº da Porta" required formControlName="nporta">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="freguesia">Freguesia</label>
      <input type="text" class="form-control" id="freguesia" required formControlName="freguesia">
    </div>

  </div>

  <button type="submit"  class="btn btn-primary">Guardar</button>
</form>
