
  <div class="row navbar   box-shadow ">
    <div class="col-12 col-md-5">
        <input type="text" class="form-control" [(ngModel)]="numero"  >
    </div>

    <div class="col-12 col-md-2">
      <button type="button" class="btn btn-lg btn-light" (click)="addProduto()">subemeter</button>
    </div>
  </div>

<div class="row">
  <div class="col-12 col-md-12">
    <table class="table table-hover">
      <thead class="">
      <tr>
        <th scope="col">#</th>
        <th scope="col">descricao</th>
        <th scope="col">categoria</th>
        <th scope="col">numero</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of produtos | filter: numero">
        <th scope="row">{{c.id}}</th>
        <th scope="row">{{c.descricao}}</th>
        <th scope="row">{{c.categoria}}</th>
        <th scope="row">{{c.qtd}}</th>

      </tr>

      </tbody>
    </table>




  </div>

</div>


