<div class="row">
  <div class="col-12 col-md-12">
    <div class="row">
      <a CLASS="btn btn-primary" href="#" routerLink="/dominga/registar" routerLinkActive="active"> Registar Domingas</a>
      <a CLASS="btn btn-primary" href="#" routerLink="/dominga/registarIrmao" routerLinkActive="active"> Novo irmao</a></div>
    <table class="table table-hover">
      <thead class="">
      <tr>
        <th scope="col">nome</th>
        <th scope="col">numero</th>
        <th scope="col">ano</th>
        <th scope="col">diferenca</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let c of domingas | dimingapipe: 1">
        <th scope="row">{{c.irmao_idIrmao.nome}}</th>
        <th scope="row">{{c.numero}}</th>
        <th scope="row">{{c.ano}}</th>
        <th scope="row">{{data-c.ano}}</th>
        <th scope="row">{{c.bit}}</th>

      </tr>

      </tbody>
    </table>




  </div>

</div>
