

  <form >
    <div class="form-group" >
      <button class="btn btn-flat"  *ngFor="let x of calendario" (click)="selecionarAno(x)">{{x}}</button>

    </div>

      <div class="form-group row justify-content-md-center"  *ngFor="let i of [1,2,3,4,5,6,7]">
      <label for="{{i}}" class="col-sm-2 col-form-label"> {{i}} ªDominga</label>
        <div class="col-sm-6">
      <input type="text" readonly class="form-control-plaintext" id="{{i}}" value="{{domingas[i-1].irmao_idIrmao.nome}}">
        </div>
        <div class="col-sm-2">

        <button type="button" class="btn btn-primary mb-2"  (click)="title=i+'ª Dominga'"  data-toggle="modal" data-target="#modal">Pesquisar</button>
        </div>
    </div>

    <button type="button" class="btn btn-primary mb-5"  (click)="registar()"  >Submeter</button>



  </form>



  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-12">

              <input type="text" class="form-control" [(ngModel)]="numero" placeholder="Pesquisar">            </div>
          </div>



          <div *ngFor="let c of irmaos | nomeIrmao: numero">
            <label for="radio{{c.idirmao}}" id="A{{c.idirmao}}" class=" row col-form-label">

              <div class="col-sm-10">
                <input type="radio" id="radio{{c.idirmao}}" [value]="c"  name="tasknote" (change)="selecionar(c)">{{c.nome}}
              </div>
              <div class="col-sm-2">
              <button type="button"  id="btn{{c.idirmao}}" class="btn btn-secondary" data-dismiss="modal" hidden>Close</button>
              </div>

            </label>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


